annotated-types==0.6.0
-e git+https://github.com/42maru-ai/rag42-annotator-api.git@2440e6783a5a1f355addee2c8895360afb97a0d5#egg=annotator
anyio==4.3.0
black==24.2.0
certifi==2024.2.2
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dependency-injector==4.41.0
distlib==0.3.8
emaillib==1.0.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
fastapi==0.110.0
filelock==3.13.1
flake8==7.0.0
greenlet==3.0.3
gunicorn==20.1.0
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
identify==2.5.35
idna==3.6
isort==5.13.2
mccabe==0.7.0
mypy-extensions==1.0.0
nodeenv==1.8.0
numpy==1.26.4
openpyxl==3.1.2
packaging==24.0
pandas==2.2.1
pathspec==0.12.1
platformdirs==4.2.0
pre-commit==3.6.2
pycodestyle==2.11.1
pycryptodome==3.15.0
pydantic==2.6.4
pydantic-settings==2.2.1
pydantic_core==2.16.3
pyflakes==3.2.0
PyMySQL==1.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.25
starlette==0.36.3
tomli==2.0.1
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
uvicorn==0.20.0
virtualenv==20.25.1
